*{
     box-sizing: border-box;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0;
    
}
.productos{
  display: grid;
  place-content: center;
}

.modelosApple{
    display:flex;
    
}

.btnMasinformacion{
    text-decoration: none;
    border-radius:20px;
    position:relative ;
}
.btnMasinformacion:hover{
    border-radius: 0px;
    transition: all 0.3s;
}

.btnLink{
    background-color: #0071e3;
    color: white;
    text-decoration: none;
    position:absolute center;
    padding:10px;
    
}
.iphone_link{
text-decoration: none;
}
.iphone{
    text-align: center;
    list-style: none;
}



